# Project exclude paths
/cloud-api-commons/target/
/cloud-consumer-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-proviser-payment8001/target/
/cloud-proviser-payment8002/target/